
@{
    ViewData["Title"] = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Indicador fim pagina-->
<div class="progress">
</div>
<!-- Final Indicador fim pagina-->
<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image:url('../../img/banner/QuemSomos.jpg');background-position:center; background-size:cover;">
</section>
<!-- Breadcrumb Area End -->
<!-- About Us Area Start -->
<div class="about-us-area section-padding-80-0 clearfix">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-12">
                <div class="about-us-content mb-80">
                    <h3 class="wow fadeInUp" data-wow-delay="100ms" style="color: black; ">Quem Somos</h3>
                    <p class="wow fadeInUp " data-wow-delay="300ms " style="color: black; font-weight: 500; text-align: justify;">
                        Dedicado especificamente para toda forma de arte, o Ateliê Moonchild, foi criado em 2019, tem como integrantes: Bárbara Menezes, Renata Machado e Geovana Dias, com o objetivo de transcender muita autenticidade de cada uma dessas.
                        "Tudo é feito com muito cuidado e muita dedicação para todos que confiam no nosso trabalho e que de alguma forma se conectam com a nossa arte, com os nossos traços. Pintamos arte, respiramos arte, somos arte constantemente
                        e temos o maior prazer de poder transpassar isso para cada uma das pessoas que fecham conosco e também aqueles que admiram todo esse corre e que contribuem de alguma maneira para esse crescimento acontecer. " Agradecemos Terráqueos
                        👽
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About Us Area End -->
<!-- Why Choose Us Area Start -->
<section class="why-choose-us-area bg-gray section-padding-80-0 clearfix ">
    <div class="container ">
        <div class="row ">
            <div class="col-12 ">
                <div class="section-heading text-center wow fadeInUp " data-wow-delay="100ms ">
                    <h2 style="color: #000; ">Tipos de Trabalhos</h2>
                </div>
            </div>
        </div>

        <div class="row ">
            <!-- Single Why Choose Area -->
            <div class="col-md-6 col-lg-4 ">
                <div class="why-choose-us-content text-center mb-80 wow fadeInUp " data-wow-delay="300ms ">
                    <div class="chosse-us-icon ">
                        <i class="fa fa-paste"></i>
                    </div>
                    <h4>Quadros</h4>
                </div>
            </div>

            <!-- Single Why Choose Area -->
            <div class="col-md-6 col-lg-4 ">
                <div class="why-choose-us-content text-center mb-80 wow fadeInUp " data-wow-delay="300ms ">
                    <div class="chosse-us-icon ">
                        <i class="fa fa-scroll "></i>
                    </div>
                    <h4>Papel</h4>
                </div>
            </div>

            <!-- Single Why Choose Area -->
            <div class="col-md-6 col-lg-4 ">
                <div class="why-choose-us-content text-center mb-80 wow fadeInUp " data-wow-delay="500ms ">
                    <div class="chosse-us-icon ">
                        <i class="fas fa-square-full "></i>
                    </div>
                    <h4>Parede</h4>
                </div>
            </div>

            <!-- Single Why Choose Area -->
            <div class="col-md-6 col-lg-4 ">
                <div class="why-choose-us-content text-center mb-80 wow fadeInUp " data-wow-delay="500ms ">
                    <div class="chosse-us-icon ">
                        <i class="fas fa-square "></i>
                    </div>
                    <h4>Madeira</h4>
                </div>
            </div>

            <!-- Single Why Choose Area -->
            <div class="col-md-6 col-lg-4 ">
                <div class="why-choose-us-content text-center mb-80 wow fadeInUp " data-wow-delay="500ms ">
                    <div class="chosse-us-icon ">
                        <i class="fa fa-tshirt "></i>
                    </div>
                    <h4>Roupa</h4>
                </div>
            </div>

            <!-- Single Why Choose Area -->
            <div class="col-md-6 col-lg-4 ">
                <div class="why-choose-us-content text-center mb-80 wow fadeInUp " data-wow-delay="500ms ">
                    <div class="chosse-us-icon ">
                        <i class="fa fa-bars "></i>
                    </div>
                    <h4>Variedades</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why Choose  us Area End -->
<section class="our-team-area section-padding-80-50">
    <div class="row">
        <div class="col-12">
            <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                <h2>Nosso Time</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row  flex-centro">
            <!-- Team Member Area -->
            <div class="col-md-6 col-xl-3 Area-Time"  data-tilt data-tilt-perspective="800" data-tilt-speed="500" data-tilt-max="25" style="transform-style: preserve-3d">
                <div class="team-content-area text-center mb-30 wow fadeInUp" data-wow-delay="100ms">
                    <div class="member-thumb">
                        <img src="~/img/Time/Renata.jpeg" alt="Renata">
                    </div>
                    <h5>Renata Machado</h5>
                    <span>Artista<i class="fas fa-palette"></i></span>
                    <div class="member-social-info">
                        <a href="https://www.facebook.com/renatamac.fernandes"><i class="ti-facebook"></i></a>
                        <a href="https://www.instagram.com/remacxis/"><i class="ti-instagram"></i></a>
                    </div>
                </div>
            </div>

            <!-- Team Member Area -->
            <div class="col-md-6 col-xl-3 Area-Time" data-tilt data-tilt-perspective="800" data-tilt-speed="500" data-tilt-max="25" style="transform-style: preserve-3d">
                <div class="team-content-area text-center mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="member-thumb">
                        <img src="~/img/Time/Geovana.jpeg" alt="Geovana">
                    </div>
                    <h5>Geovana Dias</h5>
                    <span>Artista<i class="fas fa-palette"></i></span>
                    <div class="member-social-info">
                        <a href="https://www.facebook.com/geovana.dias.773776"><i class="ti-facebook"></i></a>
                        <a href="https://www.instagram.com/geovana___dias/"><i class="ti-instagram"></i></a>
                    </div>
                </div>
            </div>

            <!-- Team Member Area -->
            <div class="col-md-6 col-xl-3 Area-Time"  data-tilt data-tilt-perspective="800" data-tilt-speed="500" data-tilt-max="25" style="transform-style: preserve-3d">
                <div class="team-content-area text-center mb-30 wow fadeInUp" data-wow-delay="700ms">
                    <div class="member-thumb">
                        <img src="~/img/Time/Barbara.jpeg" alt="Barbara">
                    </div>
                    <h5>Barbara Menezes</h5><span>Artista<i class="fas fa-palette"></i></span>
                    <div class="member-social-info">
                        <a href="https://www.facebook.com/barbara.menezes.5243"><i class="ti-facebook"></i></a>
                        <a href="https://www.instagram.com/mzsba/"><i class="ti-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Team Area End -->
<!-- Gallery Area End -->
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <!-- Instagram-->
            <h1 class="Atelie-insta">Instagram</h1>
            <p class="sigam-insta-e-face"> Nos sigam em nosso Instagram <br /> <a class="link-insta" href="https://www.instagram.com/ateliemoonchild/"><span class="span-atelie">ateliemoonchild</span><i style="color: #00008B; font-size:20px; font-weight:bold;" class="fa fa-instagram"></i></a></p>

            <!-- Flickity HTML init -->
            <div class="carousel"
                 data-flickity='{"pauseAutoPlayOnHover": false, "autoPlay": 1000, "imagesLoaded": true,"prevNextButtons": false, "lazyLoad": true, "wrapAround": true}'>
                <img src="~/img/Artes/1.jpeg" alt="Artes Instagram" />
                <img src="~/img/Artes/13.jpeg" alt="Artes Instagram" />
                <img src="~/img/Artes/14.jpeg" alt="Artes Instagram" />
                <img src="~/img/Artes/2.jpeg" alt="Artes Instagram" />
                <img src="~/img/Artes/21.jpeg" alt="Artes Instagram" />
                <img src="~/img/Artes/23.jpeg" alt="Artes Instagram" />
                <img src="~/img/Artes/25.jpeg" alt="Artes Instagram" />
                <img src="~/img/Artes/27.jpeg" alt="Artes Instagram" />
                <img src="~/img/Artes/28.jpeg" alt="Artes Instagram" />
                <img src="~/img/Artes/3.jpeg" alt="Artes Instagram" />
                <img src="~/img/Artes/30.jpeg" alt="Artes Instagram" />
                <img src="~/img/Artes/31.jpeg" alt="Artes Instagram" />
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:50px;">
        <div class="col-md-12 col-lg-12">
            <!-- Facebook-->
            <h1 class="Atelie-face">Facebook</h1>
            <p class="sigam-insta-e-face"> Nos sigam em nosso Facebook <br /> <a class="link-face" href="https://www.facebook.com/ateliemoonchild"><span class="span-atelie">ateliemoonchild</span><i style="color: #00008B; font-size:20px; font-weight:bold;" class="fa fa-facebook"></i></a></p>

            <!-- Flickity HTML init -->
            <div class="carousel"
                 data-flickity='{"pauseAutoPlayOnHover": false, "autoPlay": 1000, "imagesLoaded": true,"prevNextButtons": false, "lazyLoad": true, "wrapAround": true}'>
                <img src="~/img/Artes/32.jpeg" alt="Artes Facebook" />
                <img src="~/img/Artes/33.jpeg" alt="Artes Facebook" />
                <img src="~/img/Artes/34.jpeg" alt="Artes Facebook" />
                <img src="~/img/Artes/35.jpeg" alt="Artes Facebook" />
                <img src="~/img/Artes/37.jpeg" alt="Artes Facebook" />
                <img src="~/img/Artes/40.jpeg" alt="Artes Facebook" />
                <img src="~/img/Artes/41.jpg" alt="Artes Facebook" />
                <img src="~/img/Artes/42.jpg" alt="Artes Facebook" />
                <img src="~/img/Artes/43.jpg" alt="Artes Facebook" />
                <img src="~/img/Artes/6.jpeg" alt="Artes Facebook" />
                <img src="~/img/Artes/7.jpeg" alt="Artes Facebook" />
                <img src="~/img/Artes/9.jpeg" alt="Artes Facebook" />
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Bibliotecas-novas/tilt.js"></script> 
}


@*<link href="~/js/Bibliotecas-novas/flickity/flickity.css" rel="stylesheet" />
    <script src="~/js/Bibliotecas-novas/flickity/flickity.pkgd.min.js"></script>
    <link href="~/js/Bibliotecas-novas/filtro-Insta/instagram.css" rel="stylesheet" />*@
