* {
    margin: 0;
    padding: 0;
}

container {
    height: auto;
    margin-top: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 35px;
    color: #00008B;
    text-align: left;
}

label {
    font-size: 18px;
    color: black;
}

input[type="text"] {
    border: 2px solid rgba(0,0,0,0.7);
}

    input[type="text"]:active {
        border: 2px solid rgba(0,0,0,0.7);
    }

.tamanho {
    background: #00008B;
    border: 1px solid #00008B;
    padding: 8px 50px;
    font-size: 18px;
    letter-spacing: 2px;
}

    .tamanho:hover {
        background: #00008B;
        border: 1px solid #00008B;
        padding: 8px 50px;
        font-size: 18px;
        letter-spacing: 2px;
    }

    .tamanho:active {
        background: #00008B;
        border: 1px solid #00008B;
        padding: 8px 50px;
        font-size: 18px;
        letter-spacing: 2px;
    }

.link-volta {
    margin-bottom: 260px;
    display: flex;
    align-self: end;
    justify-self: end;
    align-items: end;
    align-content: end;
    justify-items: end;
    justify-content: end;
    font-size: 16px;
    color: black;
    font-weight: 700;
    text-decoration: none;
}

    .link-volta:hover {
        font-weight: 700;
        text-decoration: none;
        color: black;
    }

.icon-flecha {
    font-size: 16px;
    padding: 3px 5px 0px 0px;
    color: black;
}


@media (max-width: 800px) {
    h1 {
        margin: 18vh 0px 20px 0px;
        font-size: 25px;
        color: #00008B;
        text-align: center;
    }

    label {
        font-size: 20px;
        color: black;
    }

    .tamanho {
        background: #00008B;
        border: 1px solid #00008B;
        padding: 8px 50px;
        font-size: 18px;
        letter-spacing: 2px;
    }

        .tamanho:hover {
            background: #00008B;
            border: 1px solid #00008B;
            padding: 8px 50px;
            font-size: 18px;
            letter-spacing: 2px;
        }

        .tamanho:active {
            background: #00008B;
            border: 1px solid #00008B;
            padding: 8px 50px;
            font-size: 18px;
            letter-spacing: 2px;
        }

    .link-volta {
        margin-bottom: 150px;
        display: flex;
        align-self: end;
        justify-self: end;
        align-items: end;
        align-content: end;
        justify-items: end;
        justify-content: end;
        font-size: 18px;
        color: black;
    }
}
    