@{
    ViewData["Title"] = "Recuperar Senha";
}

<div class="login-box">

    <h2 class="titulo">Recuperação de Senha</h2>

    <div class="user-box">
        <p>Caso você possua uma conta em nossa loja, aguarde alguns instantes que será enviado um e-mail com o link para realizar a recuperção de sua senha</p>
    </div>

</div>
