@model AtelieMoonchild.ViewModels.ForgotPasswordModel

@{ ViewData["Title"] = "Recuperar Senha";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml"; }

<div class="login-box">

    <form asp-action="ForgotPassword" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" hidden></div>
        <h2 class="titulo">Recuperar Senha</h2>

        <div class="user-box">
            <!-- Email de acesso -->
            <input asp-for="Email" class="input">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div style=" display: flex; align-items: center; justify-content: center;">
            <button type="submit" value="submit" id="" class="btn btn-outline-info btn-entrar"> Confirmar </button>
        </div>
    </form>
</div>
    
@section Scripts{

    @* Obrigatorio para estourar o erro *@
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
