@{
    ViewData["Title"] = "Recuperar Senha";
}

<div class="login-box">

    <h2 class="titulo"> Nova Senha Defenida com Sucesso</h2>

    <div class="user-box">
        <p>
            Sua nova senha ja esta definida e pronta para uso. Clique
            <a asp-action="Login"> Aqui</a>  para esntrar.
        </p>
    </div>

</div>
